@import 'shared/scss/variables.scss';

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  background: $gradient-page;
}

.contentWrapper {
  min-width: $min-width;
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;

  &:first-child {
    flex: 1 0 auto;
  }
}

.progressBar {
  padding: 40px 160px 120px;
}

.salesWrapper {
  display: grid;
  grid-template-columns: 600px 840px;
  padding: 0 32px;
}

.boxWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
}

.main {
  width: 100%;
}

.ticker {
  padding: 60px 0 94px;
}
