@import 'shared/scss/variables.scss';

.root {
  position: relative;
  width: 100%;
  height: 100%;
  background: $gradient-page;
  z-index: 0;
}

.page {
  display: flex;
  flex-direction: column;
  min-width: $min-width;
  max-width: $max-width;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
}

.progressBar {
  padding: 40px 160px 120px;
}

.main {
  flex: 1 0 auto;
  width: 100%;
}
