@import 'shared/scss/variables.scss';

.root {
  position: relative;
  width: 100%;
  height: 100%;
  background: $gradient-page;
  z-index: 0;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.contentWrapper {
  min-width: $min-width;
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;

  &:first-child {
    flex: 1 0 auto;
  }
}

.progressBar {
  padding: 40px 160px 120px;
}

.main {
  width: 100%;
}

.ticker {
  padding: 60px 0 94px;
}
