.root {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 18px 16px 0;
}

.content {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navigation {
  display: flex;
  gap: 60px;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}

.button {
  display: flex;
  justify-content: flex-end;
  min-width: 216px;
}
