$min-width: 320px;
$max-width: 1440px;

$font-main: montserrat, tahoma, sans-serif;

$color-text-main: #fff;
$color-text-invert: #000;
$color-brand: #ffa300;

$color-element-main: #9747ff;
$color-element-complementary: #6cff47;

$color-bg-main: #000;
$color-bg-invert: #fff;
$color-bg-panel: #d7b7ff;
$color-bg-panel-light: rgba(215 183 255 / 70%);

$color-border: $color-bg-panel;

$gradient-panel: linear-gradient(79.01deg, $color-bg-panel, $color-bg-panel 50%, $color-bg-invert 100%);
$gradient-page: linear-gradient(to right, #000, #6f00fc);
