@import 'shared/scss/variables.scss';

.root {
  width: 100%;
  background-color: #000;
}

.page {
  min-width: $min-width;
  max-width: $max-width;
  width: 100%;
  margin: 0 auto;
}

.main {
  width: 100%;
}
