@import 'shared/scss/variables.scss';

.root {
  width: 100%;
  height: 100%;
  background-color: #000;
}

.page {
  display: flex;
  flex-direction: column;
  min-width: $min-width;
  max-width: $max-width;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
}

.main {
  flex: 1 0 auto;
  width: 100%;
}
