@import 'shared/scss/variables.scss';

@keyframes move-along {
  75% {
    offset-distance: 100%;
  }

  100% {
    offset-distance: 100%;
  }
}

@keyframes size {
  36% {
    transform: scale(1.6);
  }

  75% {
    transform: scale(0);
  }

  100% {
    transform: scale(0);
  }
}

.root {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(112 0 255 / 77%) 5%, rgba(250 0 255 / 20%) 70%, rgba(0 0 0 / 0%) 100%),
    $color-bg-main;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('./images/moon.svg'), linear-gradient(to bottom, $color-bg-main 51.53%, #09006d 99.8%);
    background-repeat: no-repeat;
    background-position: bottom 0 right 0;
    background-size: 58% 72%, 100%;
    clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
    z-index: -1;
  }
}

.page {
  display: flex;
  flex-direction: column;
  min-width: $min-width;
  max-width: $max-width;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
}

.main {
  flex: 1 0 auto;
  width: 100%;
}

.spaceshipContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-bg-main;
    clip-path: polygon(calc(100% - 0.5px) 0, 0 calc(100% - 0.5px), 0.5px 100%, 100% 0.5px);
    z-index: -1;
  }
}

.spaceship {
  position: absolute;
  bottom: 45%;
  right: 45%;
  width: 20%;
  offset-path: path('M 3 959 C 8 768 24 687 288 645 C 668 585 654 495 851 241 C 1045 -6 1075 -105 1083 150');
  offset-rotate: auto 35deg;
  animation: move-along 20s infinite linear, size 20s infinite ease-in-out;
  transform: scale(0);
}
