@import 'shared/scss/variables.scss';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#__next {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
}
