@import 'shared/scss/variables.scss';
@import 'shared/scss/fonts.scss';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: $color-bg-panel-light;
}

html,
body,
#__next {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
}
