@import 'shared/scss/variables.scss';

.root {
  font-family: $font-main;
  font-style: normal;
  font-weight: 500;
  color: $color-text-main;
  text-decoration: none;
  text-underline-offset: 2px;

  &:hover {
    text-decoration: underline;
  }
}
