@import 'shared/scss/variables.scss';

.root {
  font-family: $font-main;
  font-style: normal;
  font-weight: 500;
  color: $color-text-main;
  text-decoration: none;
  text-underline-offset: 2px;

  &:hover {
    text-decoration: underline;
  }
}

.typeUnderlineInverted {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.typeUnderlineCurrent {
  text-decoration: underline;
  cursor: default;

  &:hover {
    text-decoration: underline;
  }
}

.typeSepia {
  transition: filter ease-out 0.2s;

  &:hover {
    filter: sepia(100%);
  }
}

.typeRotate {
  transition: transform ease-out 0.2s;

  &:hover {
    transform: rotate(5deg);
  }
}
