@import 'shared/scss/variables.scss';

.root {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 18px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  min-height: 50px;
  padding: 2px 40px;
  background-color: $color-bg-panel-light;
  border-radius: 20px;
}
