@import 'shared/scss/variables.scss';

.root {
  width: 100%;
  min-height: 52px;
  padding: 15px 20px;
  font-family: $font-main;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: $color-text-invert;
  background-image: $gradient-panel;
  background-size: 200%;
  background-position: 0 0;
  border: 0;
  border-radius: 10px;
  transition: background-position ease-out 0.2s;
  cursor: pointer;

  &:hover {
    background-position: 100% 0;
  }
}

.themeGroup {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 25px;
  min-height: 64px;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  text-transform: capitalize;

  > :first-child {
    align-self: center;
  }
}
